@font-face {
    font-family: Jura;
    src: url("./fonts/Jura-Bold.ttf");
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/underground.jpg");
   background-size: cover;
    background-repeat: no-repeat;
}
canvas {
    border: 1px black solid;
    pointer-events: none;
    width: 1000px;
    height: 700px;
}
p {
    font-family: Jura, sans-serif;
    justify-self: center;
    font-size: 40px;
   margin-top: 830px;
   position: absolute;
   color: blue;
   user-select: none;
}
span {
    font-family: Jura, sans-serif;
    justify-self: center;
    font-size: 40px;
   margin-top: 830px;
   position: absolute;
   color: blue;
   user-select: none;
}
/*s*/
dialog {
    background-color: rgb(58, 56, 56);
    border: rgb(70, 143, 143) 1px solid;
    border-radius: 30px;
}
.content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
var {
    margin-left: 430px;
    margin-top: -180px;
    position: absolute;
    color: red;
    font-size: 30px;
    font-family: Jura;
    cursor: pointer;
}
#info {
    font-family: Jura, sans-serif;
    justify-self: center;
    font-size: 40px;
    color: blue;
    user-select: none;
}
h1 {
    color: rgb(35, 94, 94);
    font-family: Jura, sans-serif;
    font-size: 30px;
}
h3 {
    margin-top: -800px;
    margin-left: 0px;
    margin-bottom: 40px;
}
button {
    background-color: rgb(70, 143, 143);
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 20px;
    color: rgb(58, 56, 56);
    font-family: Jura, sans-serif;
    transition: 200ms;
    outline: none;
}
button:hover {
    transform: scale(1.03);
    background-color: rgb(77, 133, 133);
}
.admin {
    margin-top: 1200px;
    display: flex;
    font-display: flex;
    position: absolute;
}
.rool {
    width: 50px;
    position: absolute;
    margin-left: -50px;
    user-select: none;
}
#up {
    rotate: 90deg;
    margin-top: -180px;
    cursor: grab;
}
#down {
    rotate: -90deg;
    margin-top: -120px;
    cursor: grab;
}
#left {
    rotate: 0deg;
    margin-left: -100px;
    margin-top: -140px;
    cursor: grab;
}
#right {
    rotate: 180deg;
    margin-left: 0px;
    margin-top: -140px;
    cursor: grab;
}
#pause {
    margin-top: -900px !important; 
    margin-left: 500px !important;
    width: 70px;
    height: 60px;
    position: absolute;
    z-index: 3;
    pointer-events: auto;
    margin-top: -680px;
    margin-left: 1200px;
    cursor: pointer;
}
@media screen and (max-width: 968px) {
    canvas {
        width: 700px;
        height: 500px;
    }
    .admin {
        margin-top: 800px;
        display: flex;
        font-display: flex;
        position: absolute;
    }
    .rool {
        width: 50px;
        position: absolute;
        margin-left: -50px;
        user-select: none;
    }
    #up {
        rotate: 90deg;
        margin-top: -180px;
        cursor: grab;
    }
    #down {
        rotate: -90deg;
        margin-top: -120px;
        cursor: grab;
    }
    #left {
        rotate: 0deg;
        margin-left: -100px;
        margin-top: -140px;
        cursor: grab;
    }
    #right {
        rotate: 180deg;
        margin-left: 0px;
        margin-top: -140px;
        cursor: grab;
    }
    #pause {
        margin-top: -660px !important;
        margin-left: 350px !important;
        position: absolute;
        width: 70px;
    }
    body {
        overflow-x: auto;
        overflow-y: auto;
    }
}
@media  screen and (max-width: 682px) {
    canvas {
        width: 500px;
        height: 300px;
    }
    #pause {
        margin-top: -540px !important;
        margin-left: 250px !important;
        position: absolute;
        width: 70px;
    }
}
@media screen and (max-width: 448px) {
    canvas {
        width: 90vw;
        height: 40vh;
    }
}
@media screen and (max-width: 327px) {
    canvas {
        width: 70vw;
        height: 20vh;
}
button {
    background-color: rgb(70, 143, 143);
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 10px;
    color: rgb(58, 56, 56);
    font-family: Jura, sans-serif;
    transition: 200ms;
    width: 150px;
    margin-bottom: 20px;
}
h1 {
    font-size: 20px;
}
dialog {
    width: 170px;
}
}
#closeModal {
    margin-left: 150px !important;
}
#pause {
    margin-top: -500px !important; 
}
@media screen and (max-width: 360px) and (max-height: 612px) {
    h1 {
        font-size: 17px;
        white-space: none;
    }
    dialog {
        margin-top: 100px;
        width: 160px;
    }
    button {
        background-color: rgb(70, 143, 143);
        border: 2px solid black;
        border-radius: 20px;
        margin-right: 10px;
        color: rgb(58, 56, 56);
        font-family: Jura, sans-serif;
        transition: 200ms;
        width: 140px;
        margin-bottom: 20px;
    }
    #pause {
        margin-left: 150px !important;
        position: absolute;
        width: 50px;
    }
}
@media screen and (max-width: 200px) {
    body {
        overflow: scroll;
    }
    canvas {
        margin-left: 200px;
        width: 200vw;
        height: 40vh;
    }
    p {
        white-space: nowrap;
    }
}
@media screen and (max-width:150px) {
    canvas {
        margin-left: 150px;
        width: 200vw;
        height: 40vh;
    }
    p {
        margin-left: 100px;
        font-size: 30px;
    }
    .admin {
        margin-left: 100px;
    }
}
/* @media screen and (min-width: 4000px) {
    canvas {
        width: 2000px;
        height: 1700px;
    }
    .admin {
        margin-top: 1300px;
        margin-left: -3000px;
    }
    .rool {
        width: 300px;
    }
    #left {
        margin-left: -400px;
    }
    #up {
        margin-top: -400px;
    }
    #down {
        margin-top: 50px;
    }
    #right {
        margin-left: 300px;
    }
    #pause {
        margin-top: -1500px !important;
        margin-left: 2400px !important;
    }
    p {
        font-size: 50px;
        margin-top: 2000px;
    }
} */